<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{page.title}}</title>
<meta name="keywords" content="barnesanger, text" />
<meta name="description" content="Teksten til alle barnesangene du har lyst til å synge for barna dine finner du på barnesang.com" />
<link href="default.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="http://barnesang.com/">Barnesang.com</a></h1>
		<h2>Sanger som gj&oslash;r barn glade</h2>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="index.html">alle sangene</a></li>
			<!--li><a href="#">alle sanger</a></li>
			<li><a href="#">Om barnesang.com</a></li>
			<li><a href="#">lenker</a></li-->
		</ul>
	</div>
</div>
<!-- end header -->

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			{{ content }}
		</div>
	</div>
	<!-- end content -->
	
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li id="search">
				<h2><b>S&oslash;k</b> etter en sang</h2>
				<form method="get" action="http://www.google.no/search?">
					<fieldset>
						<input type="text" id="as_q" name="as_q" value="" />
						<input type="hidden" id="as_sitesearch" name="as_sitesearch" value="barnesang.com" />
					<input type="submit" id="x" value="S&oslash;k" />
					</fieldset>
				</form>
			</li>
		</ul>
		<ul>
			<li>{% include adsense_180_150.html %}</li>
		</ul>
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
	<div class="wrap">
		<div id="fbox1" class="box2">
			<h2><b>Om</b> barnesang.com</h2>
			<p>Barnesang.com gir deg teksten p&aring; tradisjonelle barnesanger som du selv vokste opp med, og som du &oslash;nsker &aring; videref&oslash;re til dine barn. Sp&oslash;rsm&aring;l og andre henvendelser kan rettes til <a href="mailto:post@barnesang.com">post@barnesang.com</a>.</p>
		</div>
		<div id="fbox2" class="box2">
			<h2><b>Utvalgte</b> sanger</h2>
			<ul>
				{% unless site.related_posts %}
				{% for post in site.posts limit:5 %}
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				{% endunless %}
				
				{% for post in site.related_posts limit:5 %}
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div id="fbox3" class="box2">
			<h2><b>Mest</b> popul&aelig;re</h2>
			<ul>
				{% unless site.related_posts %}
				{% for post in site.posts limit:5 offset:5 %}
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				{% endunless %}
				
				{% for post in site.related_posts limit:5 offset:5 %}
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<p id="legal">(c) 2010 Barnesang.com. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> and <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
<!-- end footer -->
{% include analytics.html %}
</body>
</html>
